/**
 * Femicide Map Infographic CSS
 */

/**
 */
body {
    background-image: url("../img/bg.jpg");
    background-size: 100px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hoverinfo {
    padding: 0!important;
}

.legend td,
.legend th,
.hoverinfo td,
.hoverinfo th {
    padding: 10px 5px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
}

.legend .femicide,
.hoverinfo .femicide {
    background-image: url('../img/coffin.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2rem;
}

.legend .attempted,
.hoverinfo .attempted {
    background-image: url('../img/knife.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2rem;
}

#map-canvas-wrapper {
    position: relative;
    width: 280px;
    height: auto;
    margin: 0 auto;
}


#map-canvas {
    width: 280px;
    height: 392px;
    position: relative;
    overflow: visible;
    display: block;
    margin: 0 auto;
}

#map-canvas svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#map-legend {
    max-width: 200px;
}

@media only screen and (min-width: 321px) {
    #map-canvas-wrapper {
        width: 300px;
    }

    #map-canvas {
        width: 300px;
        height: 420px;
    }
}

@media only screen and (min-width: 601px) {
    #map-canvas-wrapper {
        width: 400px;
    }

    #map-canvas {
        width: 400px;
        height: 560px;
    }

    #map-legend {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (min-width: 993px) {
    #map-canvas-wrapper {
        width: 500px;
    }

    #map-canvas {
        width: 500px;
        height: 700px;
    }
}
